@import '../../styles/mixins.scss';
.profile-container {
   display: grid;
   grid-template-columns: 1fr 2fr;

   .sidebar {
      display: flex;
      justify-content: start;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 3rem 0;
      margin: auto;
      width: 33%;
      position: fixed;

      h3 {
         font-size: 1.5rem;
         font-weight: 500;
      }
      .user-pfp {
         position: relative;
         // height: 100%;

         img {
            display: block;
            width: 200px;
            height: 200px;
            position: relative;
            object-fit: cover;
            border-radius: 50%;
         }
      }
      .options-btn {
         @include buttonStyle();
      }
   }

   .user-content {
      animation: slideDown 1s ease-in-out;
      display: flex;
      flex-direction: column;
      padding: 2rem 15rem 0 0;
      grid-column: 2/-2;
      min-height: 80vh;

      .page-title {
         // font-family: 'Bacasime Antique', serif;
         font-size: 2.4rem;
         width: 100%;
         padding: 0.5rem 0;
         border-bottom: 1px solid var(--accent-col);
         margin: 1rem 0;
         font-weight: 400;
         text-align: end;
      }
      .posts {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: stretch;
         position: relative;
         gap: 2rem;
         margin: 0 0 5rem 0;
         .post {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 1rem;
            margin: 1.5rem 0 0 0;
            .content {
               overflow: hidden;
               word-wrap: break-word;
            }
            h3 {
               font-family: 'Bacasime Antique', serif;
               margin: 1rem 0 0 0;
               font-size: 2rem;
               font-weight: 500;
            }
            .desc {
               margin: 0.5rem 0;
               display: block;
               font-size: 1rem;
            }

            .img {
               position: relative;
               width: 100%;
               padding-bottom: 100%; /* Creates a square aspect ratio based on width */
               height: 100%;
               img {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
               }
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .profile-container {
      display: flex;
      flex-direction: column;

      .sidebar {
         position: relative;
         width: 100%;
         padding: 2rem 0 0 0;
         gap: 0.5rem;

         h3 {
            display: none;
         }
         .user-pfp img {
            width: 100px;
            height: 100px;
         }
      }
      .user-content {
         padding: 0;
         min-height: unset;

         .page-title {
            font-size: 1.5rem;
            text-align: center;
         }
         .posts {
            padding: 1rem 2rem;
            .post {
               grid-template-columns: unset;
            }
         }
      }
   }
}
