.profile-container {
   display: grid;
   grid-template-columns: 1fr 2fr;

	.sidebar {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		height: 100%;
      .user-pfp {
         position: relative;
         height: 100%;

         img {
            display: block;
            width: 200px;
            height: 200px;
            position: relative;
            object-fit: cover;
            border-radius: 50%;
         }
      }
   }

   .content {
   }
}
