@import '../../styles/mixins.scss';
.menu {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   gap: 2rem;
   z-index: 0;

   h1 {
      font-size: 1rem;
      text-align: left;
      width: 100%;
      font-weight: 600;
      text-transform: uppercase;
      margin: 4rem 0 2rem 0;
      border-bottom: 1px solid var(--accent-col);
      padding: 0 0 1rem 0;
      letter-spacing: 1px;
      z-index: 0;

   }
   .post {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      position: relative;
      width: 80%;
      z-index: 0;


      .img-container {
         position: relative;
         width: 50%;
         padding-bottom: 30%;
         z-index: 0;

         img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;

         }
      }
      h2 {
         font-family: 'Bacasime Antique', serif;
         font-size: 1.2rem;
         letter-spacing: 0.2px;
         font-weight: 500;
         width: 100%;
         z-index: 0;

      }

      .btn-container {
         @include flexCenter();
         button {
            border: none;
            outline: none;
            background: transparent;
            text-transform: uppercase;
            font-size: 0.6rem;
            font-weight: 600;
            letter-spacing: 3px;
            cursor: pointer;
            z-index: 0;

         }
      }

      .title-container {
         height: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-direction: column;
         gap: 1rem;
         width: 100%;
         z-index: 0;

      }
   }
}
