@import '../../styles/mixins.scss';

.user {
   height: 30%;
   position: relative;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;

   > div {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
   }

   .user-pfp {
      position: relative;
      height: 100%;

      img {
         display: block;
         width: 40px;
         height: 40px;
         position: relative;
         object-fit: cover;
         border-radius: 50%;
      }
   }

   .share {
      display: block;
      @include flexCenter();
      position: relative;
      gap: 0.8rem;
      span {
         font-size: 0.7rem;
         text-transform: uppercase;
      }
      .line {
         height: 100%;
         border: 1px solid black;
      }
      i {
         cursor: pointer;
      }
   }

   .name-container {
      p {
         font-size: 0.8rem;
         // margin: unset;
         font-weight: 600;
         letter-spacing: 1px;
         margin: 0 !important;
      }
      .date {
         font-size: 0.8rem;
         text-transform: uppercase;
         font-family: 'Poppins', sans-serif;
         font-weight: 300;
         color: var(--darktext-col);
         display: block;
      }
   }
}
