@import '../../styles/mixins.scss';
.create-container {
   margin: auto;
   width: 80%;
   display: grid;
   grid-template-columns: 3fr 1fr;
   gap: 2rem;

   .content {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      .ql-editor {
         min-height: 50vh;
         overflow: hidden;
         word-wrap: break-word;
      }
      .title {
         width: 100%;
         line-height: 1.42;
         outline: none;
         padding: 4px 12px;
         border: 1px solid var(--lighttext-col);
      }
   }
   .menu {
      display: flex;
      justify-content: space-between;
      .options {
         width: 100%;

         .cat {
            margin: 0.5rem 0;
            position: relative;
            display: flex;
            gap: 1rem;
         }
      }
      .buttons {
         width: 100%;
      }
      button {
         @include buttonStyle();
      }
   }
}

@media (max-width: 656px) {
   .create-container {
      grid-template-columns: unset;
      margin: 0 2rem;
      .content {
         margin-top: 1rem;
      }

      .menu {
         .buttons {
            width: 100%;
            margin-bottom: 2rem;
         }
      }
   }
}
