@import '../../styles/mixins.scss';

.navbar {
   display: flex;
   flex-direction: column;
   width: 100%;

   .navbar-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      border-bottom: 1px solid var(--accent-col);
      padding: 1.5rem 7rem;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 1px;

      .logo {
         font-size: 1.2rem;
         font-weight: 800;
         letter-spacing: 10px;
      }

      .navbar-links {
         @include flexCenter();
         gap: 2rem;
      }

      .navbar-left {
         @include flexCenter();
         flex-direction: row;
         gap: 2rem;
      }
      .navbar-right {
         @include flexCenter();
         gap: 2rem;

         .i-loggedin {
            font-size: 1.2rem;
            font-weight: lighter;
         }

         .login-link {
            .ri-user-3-line:before {
               font-weight: 400;
               margin: 0 0.5rem 0 0;
            }
            padding: 0.5rem 1rem;
            border: 1px solid black;
         }
      }
   }
   .menu-mobile {
      display: none;
      pointer-events: none;
      z-index: -99;
   }
}

@media screen and (max-width: 767px) {
   .navbar {
      .navbar-content {
         padding: 1.5rem 2rem;

         .navbar-links {
            display: none;
         }
      }

      .menu-mobile {
         display: block;
         pointer-events: all;
         z-index: 99;
         i {
            font-size: 1.3rem;
         }
      }
   }
}
