@import '../../styles/mixins.scss';

.navbar {
   @include flexCenter();

	
   border-bottom: 1px solid black;
   
   .navbar-right {
      @include flexCenter();
      gap: 2rem;

      .navbar-links {
         @include flexCenter();
         gap: 1rem;
      }
   }
}
